@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Noto Sans", sans-serif;
}


/* link text */
.linktext {
    @apply uppercase text-[12px] md:text-[14px] tracking-widest
}


/* text color */
.tp1 {
    @apply text-[#CBFF54]
}


/* paragraph text */

.dt1 {
    @apply text-base text-[#b2bbb7]
}

.g1 {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(23, 49, 47, 0.7), rgba(0, 0, 0, 1));
    pointer-events: none;
}
  
.divider:before, .divider:after {
    background-color: white !important;
}

/* Custom color for inactive dots */
.swiper-pagination-bullet {
    @apply bg-[#cbd5e1] opacity-100
}

.swiper-pagination-bullet-active {
    @apply bg-[#a6d81d]
}
